<div class="box">
    <header class="entry-header">
        <h2 class="title"><a href="{{post_permalink}}">{{plaintitle}}</a></h2>
        <div class="entry-meta">
            <span class="tag is-info {{tagClass}}">Topics</span>
            <a href="{{post_code_cat_tax.link}}">{{post_code_cat_tax.name}}</a>
        </div>
    </header>
    <div class="entry-content">{{post_excerpt}}</div>
</div>